/* GameMenu.css */

.game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.word-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  z-index: 1; /* Ensure the game boxes are above the stars */
}

/* Style for answered rows (with color logic) */
.word-grid.answered {
  opacity: 0.5; /* Adjust opacity for answered rows */
}

input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #333;
  color: white;
  border: none;
}

.restart-button,
.submit-button,
.start-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: rgb(2, 2, 2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

/* Add a hover effect for the restart, submit, and start buttons */
.restart-button:hover,
.submit-button:hover,
.start-button:hover {
  background-color: #1B9A76;
}

/* Apply StartMenu.css styles to the Start Game button */
.start-button {
  background-color: #f4f6f6;
  position: relative;
  z-index: 1;
}

.start-button::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(45deg, #1B9A76, #1B9A76);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.start-button:hover::before {
  opacity: 1;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  animation: move linear infinite;
}

/* Define star sizes */
.small {
  width: 1px;
  height: 1px;
}

.medium {
  width: 2px;
  height: 2px;
}

.large {
  width: 3px;
  height: 3px;
}