/* Leaderboard.css */

/* Style for the leaderboard container */
.leaderboard-container {
  background-color: #f0f0f0; /* Background color */
  border: 1px solid #ccc; /* Border */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Padding */
  max-width: 400px; /* Maximum width */
  margin: 20px auto; /* Centered horizontally */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle elevation effect */
}

/* Style for the leaderboard title */
.leaderboard-title {
  font-size: 24px; /* Font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 10px; /* Spacing below the title */
}

/* Style for the leaderboard table */
.leaderboard-table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Remove cell spacing */
  margin-top: 10px; /* Spacing above the table */
}

/* Style for the table header row */
.leaderboard-table th {
  background-color: #333; /* Header background color */
  color: #fff; /* Header text color */
  font-weight: bold; /* Bold text */
  padding: 10px; /* Padding for header cells */
  text-align: left; /* Left-align text in header cells */
}

/* Style for alternating rows */
.leaderboard-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background color */
}

/* Style for table cells */
.leaderboard-table td {
  padding: 10px; /* Padding for cells */
}

/* Style for the "Close" button */
.close-button {
  background-color: #f44336; /* Red background color */
  color: #fff; /* Text color */
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding for the button */
  cursor: pointer; /* Cursor on hover */
  margin-top: 10px; /* Spacing above the button */
}

/* Style for the "Close" button on hover */
.close-button:hover {
  background-color: #d32f2f; /* Darker red background color on hover */
}

/* Style for the "Leaderboard" button */
.leaderboard-button {
  margin-top: 20px; /* Adjust the spacing above the button as needed */
  padding: 10px 20px; /* Button padding */
  font-size: 1.5rem; /* Button font size */
  background-color: #22CD9B; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Button border radius */
  cursor: pointer; /* Cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Style for the "Leaderboard" button on hover */
.leaderboard-button:hover {
  background-color: #1B9A76; /* Hover background color */
}


