.neon-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: rgb(2, 2, 2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
  }
  
  .neon-button::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  